<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    .hidden {
      display:none;
    }
    body {
      text-align: center;
    }
    .icon {
      font-size:4em;
    }
    :root {
      --background:#f9f9f9;
    }
    div.fullwidth-container {
      width:100%;
      background: var(--background);
    }
    .container {
      width:400px;
      margin:0 auto;
    }
    .container div {
      max-width:400px;
      margin: 0 auto;
    }
    .title {
      background:var(--background);
    }
    .weather {
      width:400px;
      border-radius:3px;
      box-shadow:0px 0px 3px rgba(0,0,0,0.2);
      min-height:306px;
    }
  </style>

</head>
<body>
  <header>
    <div class="fullwidth-container">
      <a href="/">Your Page</a> | <a href="/about">About this page</a>
    </div>
  </header>
  {{ content | safe }}
</body>
</html>
