---
title: A page for you
layout: base.njk
---

  <div class="container">
    <h1>Hello World</h1>
    <div class="vibe">You are great!</div>
    <div class="icon">
      🐿
    </div>
  </div>
  <script src="/js/vibe.js"></script>
