---
title: Daily Breifing
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<div class="fullwidth-container">
  <div class="title">
    <h1>{{ title }}</h1>
    <div class="vibe">You are great!</div>
    <div class="icon">
      🐿
    </div>
  </div>
</div>

<div id="weather_wrapper" class="container hidden">
  <div class="weather">
    <h2>Weather Near You</h2>
    <p id="city"></p>
    <p id="temp"></p>
    <p id="main"></p>
    <p id="desc"></p>
    <img id="icon" src=""/>
  </div>
</div>
<div class="container newsfeed">
  <h2>News In Your Country</h2>
  <ul>
    {% for article in news.articles %}
    <div class="article">
      <li>
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
      </li>
    </div>

    {% endfor %}
  </ul>
</div>
</div>
<style>


</style>
<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>
